<!-- .contact -->
<div id="contact" class="content_2">

<div class="row">

    <!-- <div class="col-lg-12">
        <div id="map"></div>
    </div>   -->
    <div class="col-lg-12">
        <div class="row" id="contact-user">
            <div class="col-md-5">
                <div class="contact-info">

                    <div class="title_content" style="float: none;">
                        <div class="text_content">Contact info</div>
                        <div class="clear"></div>
                    </div>

                    <ul>
                        <li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Location: </span >New York, NY</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email: </span> LTowner622@gmail.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone: </span> 646 338 5494</li>
                    </ul>
                </div>
                <!-- /Contact Info -->
                <div class="clear"></div>

                <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                <div class="title_content tiltle_contacts" style="float: none;">
                    <div class="text_content">Follow me</div>
                    <div class="clear"></div>
                </div>



                    <div id="profile_social">
                       <!-- <a href="https://www.facebook.com/Quiet.LT.Storm"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="https://www.twitter.com/LMT_Developer"><i class="fa fa-twitter"></i></a>-->
                        <a href="https://linkedin.com/in/lmtowner"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.github.com/LM-Towner"><i class="fa fa fa-github"></i></a>
                        <div class="clear"></div>
                    </div>



            </div>

            <div class="col-md-7">
                <!-- Contact Form -->
                <div class="title_content" style="float: none;">
                    <div class="text_content">Let's keep in touch</div>
                    <div class="clear"></div>
                </div>

                <div class="contact-form">
                    <div id="contact-status"></div>

                    <form action="https://formspree.io/LTowner622@gmail.com" id="contactform" method='POST'>
                        <p class="form-group" id="contact-name">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control name-contact" id="inputSuccess" placeholder="Name..." required/>
                        </p>
                        <p class="form-group" id="contact-email">
                            <label for="email">Your Email</label>
                            <input type="text" name="email" class="form-control email-contact" id="inputSuccess" placeholder="Email..." required/>
                        </p>

                        <p class="form-group" id="contact-message">
                            <label for="message">Your Message</label>
                            <textarea name="message" cols="88" rows="6" class="form-control message-contact" id="inputError" placeholder="Message..."required></textarea>
                        </p>
                        <input type="reset" name="reset" value="CLEAR" class="reset">
                        <input type="submit" name="submit" value="SEND MESSAGE" class="submit">
                    </form>
                </div>
                <!-- /Contact Form -->
            </div>
        </div>
    </div>

</div>
</div>
    <!-- End .contact -->
