<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Designs skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title">
                        <span>Photoshop</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title">
                        <span>Ajax</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title">
                        <span>React</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>Bootstrap</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title">
                        <span>CSS</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title">
                        <span>Express.js</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title">
                        <span>Javascript</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title">
                        <span>MongoDB</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>Ruby</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>React Native</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>Ruby On Rails</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title">
                        <span>SQL</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title">
                        <span>PostgresSql</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Team Working Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title">
                        <span>Agile Workflow</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title">
                        <span>Software Version Control</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title">
                        <span>Communication</span>
                    </div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
            </div>
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" target='_blank' href="assets/images/Towner_Resume.pdf" download>

                <span data-hover="Download My Resume">
                    
                    <i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->



        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Work Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Software Engineer 
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 9/2017- Present</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span> Apprise Mobile</h6>
                    <p>Build Native Web Apps for companies' communication pipeline</p>
                </li>
                <li>
                    <h5> Mentor
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 06/2017 - 12/2017</span>
                    </h5>
                    <h6>
                        <span class="fa fa-briefcase"></span>Dev BootCamp</h6>
                    <p>Mentor new Web Developers the fundamentals of web programming using Languages such as Javascript, Ruby and Frameworks such as Ruby on Rails</p>
                </li>

                    <li>
                        <h5>Client Services Manager 
                            <span class="duration">
                                <i class="fa fa-calendar color"></i> 08/2011 - 12/2016</span>
                        </h5>
                        <h6>
                            <span class="fa fa-briefcase"></span>NYC Office Suites </h6>
                        <p> Managed day to day activity for 44,000 sq ft fully serviced office, where technical support was given to over 150 clientele including desktop help remotely</p>
                    </li>

            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                  <li class='first'>
                    <h6>
                        <span class="fa fa-book"></span>Dev Bootcamp</h6>
                    <h5>Web Development Certificate
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2017</span>
                    </h5>
                </li>
                <li>
                    <h6>
                        <span class="fa fa-book"></span> CUNY NYC College of Technology</h6>
                    <h5>Computer Systems Networking and Telecommunications
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2016</span>
                    </h5>
                </li>
                 <li>
                    <h6>
                        <span class="fa fa-book"></span>Dale Carnegie Training</h6>
                    <h5>Communications &amp; Human Relations
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2013</span>
                    </h5>
                </li>
                <li>
                    <h6><span class="fa fa-book"></span> SUNY University at Buffalo</h6>
                    <h5>Bachelor of Chemistry
                        <span class="duration">
                            <i class="fa fa-calendar color"></i> 2011</span>
                    </h5>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>
        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>
</div>
<!-- End .resume -->