<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <!-- <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li> -->
             <li><span class="filter active" data-filter="catWeb catGraphic">All</span></li>

            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="https://pistachios.herokuapp.com"  target='_blank' title="Pistachios" rel="portfolio">
                        <img src="images/portfolio/pistachios.png" alt="Pistachios" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Pistachios</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="https://www.djmood.herokuapp.com" rel="portfolio" title="Playlist made based on your mood">
                        <img src="images/portfolio/DJMood.png" alt='DJ Mood'/>
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">DJ Mood</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
