<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <!--About me-->
            <div class="title_content">
                <div class="text_content">LMTowner</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>Name</label>
                    <span class="value">La-Keisha M. Towner</span>
                    <div class="clear"></div>
                </li>
                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>Location</label>
                    <span class="value">New York, NY</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">LTowner622@gmail.com</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>Phone</label>
                    <span class="value">646 338 5494</span>
                    <div class="clear"></div>
                </li>
            </ul>


            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>  LMTowner was founded in early 2017 with the intent and  passion to create beautiful and meaningful things. With my help, I will build any website for your personal and/or professional use.<i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <div class="cycle-slideshow">
                <img src="images/img-profile/about_1.jpg" alt="" />
                <img src="images/img-profile/about_2.png" alt="" />
                <img src="images/img-profile/about_3.png" alt="" />
            </div>

        </div>

    </div>


    <!-- begin service -->
    <div class="clear"></div>
    <div class="row" id="services">
        <div class="col-md-12">
            <div class="title_content">
                <div class="text_content"></div>
                <div class="clear"></div>
            </div>
    
    
            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="service-detail">
                        <h6>New Website Development</h6>
                        <br>
                        <ul>
                            <li>
                                <p>Custom Websites</p>
                                <p>Ecommerce Websites</p>
                                <p>Employee Management</p>
                                <p>Customer Management</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon">
                        <i class="fa fa-keyboard-o"></i>
                    </div>
                    <div class="service-detail">
                        <h6>Refurbishing an Old Website</h6>
                        <br>
                        <ul>
                            <li>
                                <p>Redesign of an exisiting site</p>
                                <p>Add new features</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="service-detail">
                        <h6>Website Design, Logos &amp; Marketing</h6>
                        <br>
                        <ul>
                            <li>
                                <p>Create custom logos</p>
                                <p>SEO Optimization</p>
                                <p>Enhanced User Experience</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <!-- End Services -->
    
    
    
    <!-- service 2 -->
    <div class="clear"></div>
    <div class="border-list"></div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-p">
                <div class="title_content">
                    <div class="text_content"></div>
                    <div class="clear"></div>
                </div>
    
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                                    Website Development
                                    <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>
                                Are you a small business, an author, an artist, or a blogger that needs a website but has a budget? Not a problem. I will
                                work with local and non-local businesses and individuals to provide quality websites at a reasonable
                                cost. Websites shouldn't be a huge financial burden to you or your business.
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                                    Refurbishing an old site
                                    <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>
                                Was your website built during over ten years ago? Then it's probably time for you to redesign your site. I will work with
                                you to figure out a brand or help to create company logos to facilitate in a complete refurbish
                                of your existing site.
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                                    Website Design, Logos, &amp; Marketing
                                    <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>
                                I will work with you to design the perfect logo for your brand and to also make sure that your consumers find your business
                                on the internet with ease.
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!-- end service 2 -->

    <div class="clear"></div>
</div>
<!-- End .profile -->